body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  header h2 {
    font-size: 1.5em;
    float:left;
    margin: 0px 20px 0px 0px;
  }
  #logout-button {
    align-self: flex-end;
    padding:5px 8px 5px 8px;
    float:right;
    margin-right: 12px;
  }
  .logout{
    display: flex;
  }
  #bar_icon{
    float:left;
    margin:0px 12px 0px 0px;
    font-size: 1.5rem;
  }
  #user_icon{
    margin:0px 12px 0px 0px;
    font-size: 1.5rem;
  }
  .logout p {
    margin: 0px 30px 0px 0px;
    font-size: 20px;
  }
  
  main {
    padding: 10px;
  }
  
  .recommendation-system {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  
  .recommendation-system h2 {
    grid-column: span 3;
  }
  
  .stat {
    background-color: #ddd;
    padding: 5px;
    text-align: center;
    width:400px;
    margin: 18px;
    border:2px solid black;
  }

  /*Live Platform CCTV Network*/
  
  h3{
    font-size: 23px;
  }
  .live_platform_cctv_network {
  display: flex;
  flex-wrap: wrap; /* Wrap content if it overflows */
  justify-content: space-around; /* Space out left and right sides */
  width:90%; /* Adjust width as needed */
  }
   
  /*platform-1 css*/
  .platform-1{
     border:2px solid black;
     padding:20px 10px 20px 20px;
     background-color: #ddd;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     float: left;
     margin-left: 90px;
  }
  .platform-1 img{
    width:300px;
    height:200px;
  }
  .btn-1,.btn-2{
    background-color: blue;
    color:white;
    font-size: 14px;
    font-weight: 80;
  }
  .btn-3{
    background-color: none;
    color: black;
  }

  .platform-2{
    border:2px solid black;
    padding:20px 10px 20px 20px;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 .platform-2 img{
   width:300px;
   height:200px;
 }
 /*.platform-2 button{
   background-color: blue;
   color:white;
   font-size: 14px;
   font-weight: 80;
 }*/

   /*platform-3 css*/
 .platform-3{
  border:2px solid black;
  padding:20px 10px 20px 20px;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.platform-3 img{
 width:300px;
 height:200px;
}
/*.platform-3 button{
 background-color: blue;
 color:white;
 font-size: 14px;
 font-weight: 80;
}*/




  